<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandHunter - Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <a class="logo" href="{{ url_for('get_main') }}"><h1>HandHunter</h1></a>
            <nav>
                <a href="{{ url_for('get_main') }}">Home</a>
                <a href="{{ url_for('get_jobs') }}">Jobs</a>
                <a href="">Companies</a>
                <a href="">Contact</a>
                <a href="/logout" class="logout-btn">Logout</a>
            </nav>
        </div>
    </header>
    
    <section class="account-section">
        <div class="container">
            <h2>My Account</h2>
            <p>Name: <strong>{{ name }} {{ surname }}</strong></p>
            <p>Email: <strong>{{ email }}</strong></p>
            <p><a href="{{ url_for('add_pic')}}" class="button">Edit Picture</a></p>
            {% if post[4] != "images/None" %}
                <a href=" {{ url_for('get_details', id = post[0])}} "><img src="{{ url_for('static', filename=post[4]) }}" alt="Image not loaded" style="max-width:300px;"></a>
            {% endif %}
            <p><a href="{{ url_for('post_job') }}" class="button">Create and Post a Job Vacancy</a></p>
        </div>
        <div class="container">
            <h1>Your posted job vacancies: </h1>
            {% if jobs %}
                {% for job in jobs %}
                    <div class="lot">
                        <h2>
                            Job title: {{ job[2] }}
                        </h2>               
                        <h3>
                            Salary: {{ job[8] }}
                        </h3>
                        <a href=" {{ url_for('get_details', id = job[0])}} " class="button">Details</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
</body>
</html>