<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandHunter - Find Your Dream Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <a class="logo" href="{{ url_for('get_main') }}"><h1>HandHunter</h1></a>
            <nav>
                <a href="{{ url_for('get_main') }}">Home</a>
                <a href="{{ url_for('get_jobs') }}">Jobs</a>
                <a href="">Companies</a>
                <a href="">Contact</a>
                <a href="{{ url_for('get_account') }}"><button class="login-btn">Account</button></a>
            </nav>
        </div>
    </header>

    <div class="container">
        {% if job %}
            <div class="lot">
                <h2>
                    Job title: {{ job[2] }}
                </h2>               
                <h3>
                    Experience required: {{ job[3] }}
                </h3>
                <h3>
                    Employment type: {{ job[4] }}
                </h3>
                <h3>
                    Work format: {{ job[5] }}
                </h3>
                <h3>
                    City: {{ job[6] }}
                </h3>
                <h3>
                    Description: {{ job[7] }}
                </h3>
                <h3>
                    Salary: {{ job[8] }}
                </h3>
                <div>
                    <form action="" method="post">
                        <label for="description">Leave your candidature:</label>
                        <textarea id="description" name="message" required></textarea>
                        <a href="{{ url_for('message') }}"><button class="login-btn">Message</button></a>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

</body>
</html>