<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandHunter - Find Your Dream Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <a class="logo" href="{{ url_for('get_main') }}"><h1>HandHunter</h1></a>
            <nav>
                <a href="{{ url_for('get_main') }}">Home</a>
                <a href="{{ url_for('get_jobs') }}">Jobs</a>
                <a href="">Companies</a>
                <a href="">Contact</a>
                <a href="{{ url_for('get_account') }}"><button class="login-btn">Account</button></a>
            </nav>
        </div>
    </header>

    <section class="search-section">
        <div class="container">
            <h2>Find Your Dream Job</h2>
            <form action="/search" method="post">
                <input type="text" name="search" placeholder="Enter job title or company">
                <select name="location">
                    <option value="">Select location</option>
                    <option value="karaganda">Karaganda</option>
                    <option value="astana">Astana</option>
                </select>
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
    </section>

    {% if jobs %}
        <section class="job-listings">
            <div class="container">
                <h2>Latest Job Openings</h2>
                {% for job in jobs %}
                    <div class="job">
                        <h3>{{ job[2] }}</h3>
                        <p>Salary: <strong>{{ job[8] }}</strong></p>
                        <p>Location: {{ job[6] }}</p>
                        <a href=" {{ url_for('get_details', id = job[0])}} " class="button">Details</a>
                    </div>
                {% endfor %}
            </div>
    {% endif %}

</body>
</html>
