<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandHunter - Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <a class="logo" href="{{ url_for('get_main') }}"><h1>HandHunter</h1></a>
            <nav>
                <a href="{{ url_for('get_main') }}">Home</a>
                <a href="{{ url_for('get_jobs') }}">Jobs</a>
                <a href="">Companies</a>
                <a href="">Contact</a>
                <a href="{{ url_for('get_account') }}"><button class="login-btn">Account</button></a>
            </nav>
        </div>
    </header>
    
    <section class="auth-section">
        <div class="container">
            <h2>Create your job post</h2>
            <form action="/post" method="post">
                <input type="text" name="title" placeholder="Job title" required>
                <input type="text" name="experience" placeholder="Experience required" required>
                <select name="employment">
                    <option value="fulltime">Full-time</option>
                    <option value="parttime">Part-time</option>
                </select>
                <select name="format">
                    <option value="offline">Offline</option>
                    <option value="remote">Remote</option>
                    <option value="hybrid">Hybrid</option>
                </select>
                <select name="city">
                    <option value="karaganda">Karaganda</option>
                    <option value="astana">Astana</option>
                </select>
                <input type="text" name="salary" placeholder="Salary" required>
                <textarea id="description" name="description" placeholder="Job description" required></textarea>
                <button type="submit" class="button">Post</button>
            </form>
        </div>
    </section>
</body>
</html>