<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandHunter - Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>HandHunter</h1>
            <nav>
                <a href="">Home</a>
                <a href="">Jobs</a>
                <a href="">Companies</a>
                <a href="">Contact</a>
            </nav>
        </div>
    </header>
    
    <section class="auth-section">
        <div class="container">
            <h2>Create your job post</h2>
            <form action="/post" method="post">
                <input type="text" name="title" placeholder="Job title" required>
                <input type="text" name="experience" placeholder="Experience required" required>
                <input type="text" name="employment" placeholder="Employment type (fulltime/parttime/etc)" required>
                <input type="text" name="format" placeholder="Job format (office/remote/etc)" required>
                <input type="text" name="city" placeholder="City" required>
                <textarea id="description" name="description" placeholder="Job description" required></textarea>
                <button type="submit" class="button">Post</button>
            </form>
        </div>
    </section>
</body>
</html>