<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandHunter - Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <a class="logo" href="{{ url_for('get_main') }}"><h1>HandHunter</h1></a>
            <nav>
                <a href="{{ url_for('get_main') }}">Home</a>
                <a href="{{ url_for('get_jobs') }}">Jobs</a>
                <a href="">Companies</a>
                <a href="">Contact</a>
            </nav>
        </div>
    </header>
    
    <section class="auth-section">
        <div class="container">
            <h2>Register</h2>
            {% if error %}
                <h2> {{ error }} </h2>
            {% endif %}
            <form action="/register" method="post">
                <input type="text" name="name" placeholder="Name" required>
                <input type="text" name="surname" placeholder="Surname" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="password_confirm" placeholder="Confirm Password" required>
                <button type="submit" class="button">Sign Up</button>
            </form>
            <p>Already have an account? <a href="/login">Login here</a></p>
        </div>
    </section>
</body>
</html>